input, button { padding: 10px; margin: 5px 0; }
.movie { margin-bottom: 20px; border-bottom: 1px solid #ccc; padding-bottom: 10px; }
img { width: 120px; border-radius: 5px; }
.pagination { margin-top: 20px; 
}

:root {
    --primary: hsl(207, 44%, 49%);
    --accent: #32e7ba;
    --background: #101a2c;
    --background-2: hsl(219, 42%, 36%);
    /* --background: #fffdd0; */
    --text: #fffcfc;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background);
}

a {
    text-decoration: none;
    color: unset;
}

* {
  font-family: "Merienda", cursive;
  font-weight: 400;
  font-style: normal;
  color: var(--text);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--element);
    margin: 10px 0;
}

@media (max-width: 404px) {
    
    h1 {
      font-size: 30px;
    }
    
    h2 {
      font-size: 25px;
    }
    
    h3 {
      font-size: 18px;
    }
    
    h4,
    h5,
    h6 {
      font-size: 16px;
    }

    p {
        font-size: 14px;
    }

}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--element);
  margin: 0px;
}

header {
    padding: 1rem 5%;
    background: var(--background);
    color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

nav {
    padding: .5rem 5%;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul a:hover {
    text-decoration: underline;
}

.spinner-wrapper {
    width: 100%;
    height: 50dvh;
    position: fixed;
    top: 50%;
    transform: translate(0, -40%);
    left: 0;
    /* background: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    flex-direction: column;
    gap: 10px;
}

.spinner-wrapper .spinner {
    border: 8px solid gray;
    border-top: 8px solid var(--accent);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.search {
    padding: .5rem 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search div {
    background: var(--background-2);
    border-radius: 15px;
    height: auto;
    padding: 0 10px;
}

.search div input {
    width: 270px;
    border: none;
    outline: none;
    background: var(--background-2);
}

.search div input::-webkit-input-placeholder {

    background: var(--background-2);
}


@media (max-width: 404px) {
    
    .search div input {
        width: 140px;
    }
    
}

.search div button {
    border: none;
    outline: none;
    background: var(--background);
    border-radius: 10px;
}

.container {
    width: 90%;
    padding: 10px 5%;
    opacity: 0;
}

.movies {
    padding: 10px 0;
    margin: 1rem 0;
}

.movies h3 {
    text-transform: capitalize;
}

.genre {
    color: var(--accent);
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 10px;
    margin: 10px 0;
}

.movies .movie {
    width: auto;
    background: var(--background-2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 0 0 25px 0;
    justify-content: center;
    border-radius: 0 0 10px 10px; 
}

.movies .movie img {
    width: 100%;
    border-radius: 10px 10px 0 0; 
}

.movies .movie div {
    text-align: center;
    padding: 0 10px;
}


.movie-wrapper {
    margin-top: 2em;
}

.movie-wrapper .movie {
    display: flex;
    gap: 25px;
}

.movie-wrapper .movie img {
    width: 300px;
}

@media (max-width: 547px) {
    .movie-wrapper .movie {
        flex-direction: column;
    }
    .movie-wrapper {
        display: flex;
        justify-content: center;
    }
    
}
